@import url('https://fonts.googleapis.com/css2?family=Abel&family=Courgette&family=Poppins:wght@700&family=Roboto:wght@700&family=Secular+One&family=Unbounded:wght@500&display=swap');
body{
  overflow-x: hidden;
}
#btn{
  position: absolute;
  font-size: 30px;
  font-family: 'Secular One', sans-serif;
  border: 2px solid rgb(177, 177, 236);
  background: linear-gradient(to right, #50d9f1 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  width: 400px;
  margin: 60px 500px;
  padding: 30px 0 30px 0;
  border-radius: 30px;
  transition: all 1s ease-out;
}
#btn:hover{
  background-color: #50d9f1;
  background-position: left bottom;
}
.ocean{
  position: static;
}
.bubble{
  width: 5px; 
  height: 5px; 
  background-color: white;
  border-radius: 5px;
  margin-top: 130px;
  position: absolute;
  z-index: 1;
}
#cover{
  display: grid;
  grid-template-columns: 1fr;
}
#bubble{
  margin-left: 50px;
  animation: bubblerise .5s infinite;
}
#bubble2{
  margin-left: 90px;
  animation: bubblerise .5s infinite;
}
#bubble3{
  margin-left: 130px;
  animation: bubblerise .5s infinite;
}
#bubble4{
  margin-left: 50px;
  animation: bubblerise .17s infinite;
}
#bubble5{
  margin-left: 90px;
  animation: bubblerise .17s infinite;
}
#bubble6{
  margin-left: 130px;
  animation: bubblerise .17s infinite;
}
#bubble7{
  margin-left: 50px;
  animation: bubblerise .33s infinite;
}
#bubble8{
  margin-left: 90px;
  animation: bubblerise .33s infinite;
}
#bubble9{
  margin-left: 130px;
  animation: bubblerise .33s infinite;
}
.bubblewrapper{
  display: flex;
}
.wrapper{
    width: 400px;
    height: 100px;
    padding: 100px 100px 0px 0px;
    margin: 0 auto;
    z-index:1;
}
#submarine{
    width: 200px;
    height: 50px;
    background-color: grey;
    border-radius: 30px;
    position: absolute;
    margin-top: 50px;
    z-index:1;
    animation: float 3s infinite;
}

#window, #window2, #window3, #window4, #window5{
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 60px;
    background-color: lightblue;
    border-radius: 20px;
    
    z-index:1;
    animation: float 3s infinite;
}
#window{
    margin-left: 10px;
}
#window2{ 
    margin-left: 50px;   
}
#window3{
    margin-left: 90px;
}
#window4{
    margin-left: 130px;
}
#window5{
    margin-left: 170px;
}
.sea{
    position: absolute;
    height: 650px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #a4c2ef;
    animation: wave 3s ease-in-out infinite;
    z-index:0;
  }

  /* the orange and blue fish */
 .fish, .fish2{
  display:flex;
  position: absolute;
  z-index: 2;
 }
 .fish{
  animation: swim1 8s forwards;
 }
 .fish2{
  animation: swim1 7s forwards;
 }
  .fishbody{
    position: absolute;
    margin-left: -70px;
    margin-top: 60px;
    width: 70px;
    height: 50px;
    background-color: orange;
    border-radius: 50%;
  }
  .fin{
    position: relative;
    margin: 65px 0 0 -90px;
    width: 30px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    transform:rotate(40deg);
  }
  .fin2{
    position: relative;
    margin-left: -90px;
    width: 30px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    transform:rotate(-40deg);
  }
  .fish2 .fishbody,.fish2 .fin{
    background-color: aqua;
    margin-top: 150px;
  }
  .fish2 .fin2{
    background-color: aqua;
  }

  /* purple fish*/
  .fish3{
    display: none;
    z-index: 3;
  }
  .fishbody2{
    position: absolute;
    margin-left: 1470px;
    width: 70px;
    height: 50px;
    background-color: rgb(218, 91, 218);
    border-radius: 50%;
  }
  .fin3{
    position: relative;
    margin-left: 1535px;
    width: 30px;
    height: 20px;
    background-color: rgb(218, 91, 218);
    border-radius: 50%;
    transform:rotate(140deg);
  }
  .fin4{
    position: relative;
    margin-left: 1535px;
    width: 30px;
    height: 20px;
    background-color: rgb(218, 91, 218);
    border-radius: 50%;
    transform:rotate(-140deg);
  }

  /* green fish */
  .fish4{
    display: none;
    z-index:3;
  }
  .fishbody3{
  position: absolute;
  margin-left: 1470px;
  margin-top: 120px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 40px 0;
  border-color: transparent #6fc88b transparent transparent;
  }
  .fin5{
  width: 0;
  height: 0;
  position: relative;
  margin-left: 1505px;
  margin-top: 160px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #6fc88b transparent transparent;
  }

  /* red fish */
  .fish5{
    display: none;
    z-index:4;
  }
  .fishbody4{
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 40px 0;
    border-color: transparent #e36251 transparent transparent;
    transform:rotate(180deg);
    }
    .fin6{
      width: 0;
      height: 0;
      margin-top: 40px;
      margin-left: -60px;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #e36251 transparent transparent;
      transform:rotate(180deg);
      }
    
  /* darkblue fish */
  .fish6{
    display: none;
    z-index:4;
  }
  .fishbody5{
    position: relative;
    margin-top: 160px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 40px 0;
    border-color: transparent #342785 transparent transparent;
    transform:rotate(180deg);
    }
    .fin7{
      width: 0;
      height: 0;
      margin-top: 200px;
      margin-left: -60px;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #342785 transparent transparent;
      transform:rotate(180deg);
      }
    /* shark */
    .shark{
      display: none;
      z-index: 5;
    }
    .fishbody6{
      position: absolute;
      margin-left: 1470px;   /*210*/
      margin-top: 40px;
      width: 180px;
      height: 50px;
      background-color: rgb(193, 221, 70);
      border-radius: 50%;
    }
    .tail{
      position: absolute;
      margin-left: 1645px;
      margin-top: 60px;
      width: 20px;
      height: 10px;
      background-color: rgb(193, 221, 70);
    }
    .fin8{
      position: absolute;
      margin-left: 1660px;
      margin-top: 45px;
      width: 40px;
      height: 40px;
      background: radial-gradient(180% 180% at right -65% top -65%, transparent 99%, rgb(193, 221, 70));
      transform:rotate(-315deg);
    }
    .fin9{
      position: absolute;
      margin-left: 1540px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 30px 30px 0;
      border-color: transparent rgb(193, 221, 70) transparent transparent;
      transform: rotate(90deg);
    }
    /* shark2 */
    .shark2{
      display: none;
      z-index: 6;
    }
    .fishbody7{
      position: absolute;
      margin-left: -180px;
      margin-top: 40px;
      width: 180px;
      height: 50px;
      background-color: rgb(117, 240, 195);
      border-radius: 50%;
    }
    .tail2{
      position: absolute;
      margin-left: -190px;
      margin-top: 60px;
      width: 20px;
      height: 10px;
      background-color: rgb(117, 240, 195);
    }
    .fin10{
      position: absolute;
      margin-left: -230px;
      margin-top: 45px;
      width: 40px;
      height: 40px;
      background: radial-gradient(180% 180% at right -65% top -65%, transparent 99%, rgb(117, 240, 195));
      transform:rotate(-135deg);
    }
    .fin11{
      position: absolute;
      margin-left: -100px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 30px 30px 0;
      border-color: transparent rgb(117, 240, 195) transparent transparent;
      transform: rotate(90deg);
    }
    /* jellyfish */
    .jellyfish{
      display: flex;
      margin-left: 100px;
      width: 80px;
      height:80px;
      opacity: 0;
    }
    .jellyhead{
      position: absolute;
      width: 60px;
      height: 40px;
      background-color: #48abe0;
      border-radius: 60px 60px 0 0;
    }
    .jellybody{
      position: absolute;
      display: flex;
    }
    .jellyhand{
      margin-left: 11px;
      margin-top: 35px;
      width: 1px;
      height: 60px;
      background-color: #48abe0;
      border-radius: 1px;
    }
    /* jellyfish2 */
    .jellyfish2{
      display: flex;
      margin-left: 200px;
      margin-top: -500px;
      width: 80px;
      height:80px;
      opacity: 0;
    }
    .jellyhead2{
      position: absolute;
      width: 60px;
      height: 40px;
      background-color: #df7bb2;
      border-radius: 60px 60px 0 0;
    }
    .jellyhand2{
      margin-left: 11px;
      margin-top: 35px;
      width: 1px;
      height: 60px;
      background-color: #df7bb2;
      border-radius: 1px;
    }
     /* jellyfish3 */
     .jellyfish3{
      display: flex;
      margin-left: 370px;
      margin-top: 160px;
      width: 80px;
      height:80px;
      opacity: 0;
    }
    .jellyhead3{
      position: absolute;
      width: 60px;
      height: 40px;
      background-color: #5fdf70;
      border-radius: 60px 60px 0 0;
    }
    .jellyhand3{
      margin-left: 11px;
      margin-top: 35px;
      width: 1px;
      height: 60px;
      background-color: #5fdf70;
      border-radius: 1px;
    }
    /* jellyfish4 */
    .jellyfish4{
      display: flex;
      margin-left: 580px;
      margin-top: -200px;
      width: 80px;
      height:80px;
      opacity: 0;
    }
    .jellyhead4{
      position: absolute;
      width: 60px;
      height: 40px;
      background-color: #ecde41;
      border-radius: 60px 60px 0 0;
    }
    .jellyhand4{
      margin-left: 11px;
      margin-top: 35px;
      width: 1px;
      height: 60px;
      background-color: #ecde41;
      border-radius: 1px;
    }
    /* jellyfish5 */
    .jellyfish5{
      display: flex;
      margin-left: 780px;
      margin-top: 120px;
      width: 80px;
      height:80px;
      opacity: 0;
    }
    .jellyhead5{
      position: absolute;
      width: 60px;
      height: 40px;
      background-color: #ec3737;
      border-radius: 60px 60px 0 0;
    }
    .jellyhand5{
      margin-left: 11px;
      margin-top: 35px;
      width: 1px;
      height: 60px;
      background-color: #ec3737;
      border-radius: 1px;
    }
    /* jellyfish6 */
    .jellyfish6{
      display: flex;
      margin-left: 1000px;
      margin-top: -200px;
      width: 80px;
      height:80px;
      opacity: 0;
    }
    .jellyhead6{
      position: absolute;
      width: 60px;
      height: 40px;
      background-color: #2848a7;
      border-radius: 60px 60px 0 0;
    }
    .jellyhand6{
      margin-left: 11px;
      margin-top: 35px;
      width: 1px;
      height: 60px;
      background-color: #2848a7;
      border-radius: 1px;
    }
    /* jellyfish7 */
    .jellyfish7{
      display: flex;
      margin-left: 1200px;
      margin-top: 180px;
      width: 80px;
      height:80px;
      opacity: 0;
    }
    .jellyhead7{
      position: absolute;
      width: 60px;
      height: 40px;
      background-color: #50d9f1;
      border-radius: 60px 60px 0 0;
    }
    .jellyhand7{
      margin-left: 11px;
      margin-top: 35px;
      width: 1px;
      height: 60px;
      background-color: #50d9f1;
      border-radius: 1px;
    }
    /* jellyfish8 */
    .jellyfish8{
      display: flex;
      margin-left: 1300px;
      margin-top: -500px;
      width: 80px;
      height:80px;
      opacity: 0;
    }
    .jellyhead8{
      position: absolute;
      width: 60px;
      height: 40px;
      background-color: #9151ea;
      border-radius: 60px 60px 0 0;
    }
    .jellyhand8{
      margin-left: 11px;
      margin-top: 35px;
      width: 1px;
      height: 60px;
      background-color: #9151ea;
      border-radius: 1px;
    }
  @keyframes wave {
    0%{
      top: 300px;
    }
    50%{
      top: 290px;
    }
    100%{
      top: 300px;
    }
  }
  @keyframes float {
    0%{
      top: 230px;
    }
    50%{
      top: 220px;
    }
    100%{
      top: 230px;
    }
  }
  @keyframes rise {
    0%{
     top: 290px;
     height: 650px;
    }
    100%{
      top: 0;
      height: 850px;
    }
  }
  @keyframes bubblerise{
    0%{
      margin-top: 140px;
    }
    100%{
      margin-top:120px;
    }
  }
  @keyframes dive{
    0%{
      top: 110px;
    }
    100%{
      top: 620px;
    }
  }
  @keyframes bubblemove{
    0%{
      margin-top: 0;
    }
    100%{
      margin-top: 525px;
    }
  }
@keyframes seacolor{
  0%{
    background-color: #a4c2ef;
  }
  100%{
    background-color: rgb(2, 2, 50);
  }
}
@keyframes swim1{
  0% {
    top: 0;
  }
  100% {
    top: 0px;
    margin-left: 1560px;
  }
}

@keyframes swim2{
  0%{
    top:0;
  }
  100%{
    top:0;
    margin-left: -1570px;
  }
}
@keyframes swim3{
  0%{
    top: 50px;
  }
  100%{
    top: 40px;
    margin-left: 1550px;
  }
}
@keyframes swim4{
  0%{
    top: 400px;
  }
  100%{
    transform: translateY(-50px);
    margin-left: 1550px;
  }
}
@keyframes swim5{
  0%{
    top: 480px;
    margin-left: 1470px;
  }
  100%{
    transform: translateY(-60px);
    margin-left: -1680px;
  }
}
@keyframes swim6{
  0%{
    top: 370px;
  }
  100%{
    transform: translateY(-100px);
    margin-left: 1680px;
  }
}
@keyframes light{
  0%{
    box-shadow: none;
  }
  100%{
    box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px rgb(221, 235, 101), 
    0 0 140px 90px rgb(234, 239, 208); 
  }
}
@keyframes opacity{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes fluo{
  0%{
    box-shadow: none;
    transform: translateY(0);
  }
  50%{
    box-shadow:
    0 0 40px 10px #fff,
    0 0 40px 20px #48abe0, 
    0 0 60px 30px #94c9e6;
    transform: translateY(30px);
  }
  100%{
    box-shadow: none;
    transform: translateY(0);
  }
}
@keyframes fluo2{
  0%{
    box-shadow: none;
    transform: translateY(0);
  }
  50%{
    box-shadow:
    0 0 40px 10px #fff,
    0 0 40px 20px #df7bb2, 
    0 0 60px 30px #f1cde0;
    transform: translateY(30px);
  }
  100%{
    box-shadow: none;
    transform: translateY(0);
  }
}
@keyframes fluo3{
  0%{
    box-shadow: none;
    transform: translateY(0);
  }
  50%{
    box-shadow:
    0 0 40px 10px #fff,
    0 0 40px 20px #5fdf70, 
    0 0 60px 30px #a8e8b1;
    transform: translateY(30px);
  }
  100%{
    box-shadow: none;
    transform: translateY(0);
  }
}
@keyframes fluo4{
  0%{
    box-shadow: none;
    transform: translateY(0);
  }
  50%{
    box-shadow:
    0 0 40px 10px #fff,
    0 0 40px 20px #ecde41, 
    0 0 60px 30px #f6efa6;
    transform: translateY(30px);
  }
  100%{
    box-shadow: none;
    transform: translateY(0);
  }
}
@keyframes fluo5{
  0%{
    box-shadow: none;
    transform: translateY(0);
  }
  50%{
    box-shadow:
    0 0 40px 10px #fff,
    0 0 40px 20px #ec3737, 
    0 0 60px 30px #ec9d9d;
    transform: translateY(30px);
  }
  100%{
    box-shadow: none;
    transform: translateY(0);
  }
}
@keyframes fluo6{
  0%{
    box-shadow: none;
    transform: translateY(0);
  }
  50%{
    box-shadow:
    0 0 40px 10px #fff,
    0 0 40px 20px #2848a7, 
    0 0 60px 30px #bdc9ed;
    transform: translateY(30px);
  }
  100%{
    box-shadow: none;
    transform: translateY(0);
  }
}
@keyframes fluo7{
  0%{
    box-shadow: none;
    transform: translateY(0);
  }
  50%{
    box-shadow:
    0 0 40px 10px #fff,
    0 0 40px 20px #50d9f1, 
    0 0 60px 30px #c5ebf2;
    transform: translateY(30px);
  }
  100%{
    box-shadow: none;
    transform: translateY(0);
  }
}
@keyframes fluo8{
  0%{
    box-shadow: none;
    transform: translateY(0);
  }
  50%{
    box-shadow:
    0 0 40px 10px #fff,
    0 0 40px 20px #9151ea, 
    0 0 60px 30px #c1a7e6;
    transform: translateY(30px);
  }
  100%{
    box-shadow: none;
    transform: translateY(0);
  }
}
